.App {
  text-align: center;
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.label {
  padding: 5px;
  margin: 10px;
  color: white;
}

.submit {
  margin: 10px;
  display: block;
}

.popup {
  width: 25%;
  margin-top: auto;
}

.colors {
	text-align: center;
	color: white;
  margin-top: 10px;
}
